/*********************************************************************************/
/* 1200px (>= 770px <1070)                                                             */
/*********************************************************************************/

@media only screen and  (max-width: 1078px) and (min-width: 760px) {
    /* Header */
    #header h1 a {

        font-size: 24px !important;

    }
    #header nav a, #header #contact a {
        font-size: 1em !important;
        /* margin-left: 10px;*/
        margin-right: 0;
        padding: 0;
    }
    /* Banner */
    #banner p {
        font-size: 1.2em !important;
    }
    /* Content */
    #content h2 {
        font-size: 1.2em;
    }

    #content h3 {
        font-size: 1.1em;
        color:  #474f51;
    }
}






/*********************************************************************************/
/* 1200px (>= 768px)                                                             */
/*********************************************************************************/

@media only screen and (min-width: 768px) {

    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    body, input, textarea, select
    {


        font-size: 13.5pt;
        line-height: 1.85em;
        font-weight: 300;
    }
    .check-list li
    {font-size: 1em;

    }

    section:last-child {
        margin-bottom: 0 !important;
    }
    #header-wrapper {
        padding: 0;
        min-height: 100px;
    }


    #header {
        width: 80%;
        margin: 0 auto;
        height: 100px;
    }
    #banner-wrapper {

        width: 80%;

    }
    #features-wrapper { /*#353D40*/
        width: 80%;
        margin: 20px auto;
        padding: 20px 0 ;

    }
    #footer-wrapper
    { padding: 45px 25px;
    }
    #header {


    }

    #header img {
        position: relative;
        left: 0;
        bottom: -10px;
        float: left;

    }
    #header h1 {
        top: 40px;
        font-size: 40px;
        text-align: left;

    }
    #header #contact a {
        text-align: right;
        font-size: 1.2em;
        float: right;
        margin-left: 100px;


    }
    #header nav {

        position: relative;
        text-align: right;
        float:right;
        top: 0px;
        font-weight: 200;
    }


    #header nav a {
        font-size: 1.2em;
        margin-right: 0;
        padding: 0;
    }
    #header nav a:last-child {
    }

    #hoverbox {
        top: 80px;


    }
    #banner {
        float: none;
        height: auto;

    }

    #banner p {
        font-size: 1.4em;
        font-weight: 200;
        line-height: 1.25em;
        padding-right: 1em;
        margin: 0 0 1em 0;
    }
    #features section
    {height:auto;
        border-bottom:hidden;
        box-shadow:none;

    }
    #features .sec1 {


        width: 22%;
        margin: 0 1.5%;
    }
    #content{
        width: 80% !important;
        display: block;
        margin: 0 auto;
    }
    #content .sec2 {

        margin:0 0 10% 0 ;
        width: 28.5%;
        float: left;

    }

    .indexmidcontent{margin-left: 2.2% !important;margin-right: 2.2% !important;}

    /*content sub pages*/

    #content h2 {
        font-size: 1.4em;

    }

    #content h3 {

        font-size: 1.25em;
    }
    #content-wrapper #content .sidebar {
        width: 22%;
        left: 0;
        float: left;
        display: block;
    }
    /*Product listing grid page*/
    #content-wrapper #content .main{
        width:75%;
        right:0;
        float:right;
    }
    .topbar{display: none;}
    .itemDisplay img{
        height:130px;


    }
    /************** Footer **************/
    #footer section div {
        float: left;
        width: 20%;

    }
}