#content{
    width: 80%;
    display: block;
    margin:0 auto;
}
#content-wrapper #content .sidebar
{
    width:20%;
    left:0;
    float:left;



}
#content-wrapper #content .main{

    width:75%;
    right:0;
    float:right;
}
.itemDisplay img{
    display: block;
    margin: auto;
    height:130px;
    max-width: 100%;





}
.itemDisplay div{

    margin:0 30px 0 0;
    border: 1px solid #96a9b5;
    width:95%;
    display: flex;
    justify-content: center;
}

.itemDisplay p
{
    line-height: 16px;
    font-size: 14px;


}
.itemDisplay p span
{

    font-weight: bold;
}
