    /**
    ******************Global******************
    */


body{
    margin: 0;
    padding: 0;
    border: 0;
    background: #fff;
    width:100%;
}
h1{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font: inherit;
    font-family: 'Lobster', sans-serif;
    font-size: 40px;


}

h2,h3,p, footer, section, option, label,select, nav,  div,
img,form,ol, ul, li, th ,p,header,img, input{
    color: #474f51;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-family: 'Yanone Kaffeesatz';
    vertical-align: baseline;

}
body, input, textarea, select
{ color: #474f51;
    font-size: 13pt;
    line-height: 1.4em;
    font-weight: 200;
}


ul, ol, p, dl
{
    margin: 0 0 2em 0;
}

a
{
    text-decoration: none;
    color: #474f51;
}
a:hover
{
    text-decoration:none;
}
a:visited{
    text-decoration: none;
    color: #474f51;
}
/*********Footer lists use class link-list***********/
.link-list li
{
    padding: 0.2em 0 0.2em 0;
    list-style-type: none;
}

.link-list li:first-child
{
    padding-top: 0 !important;
    border-top: 0 !important;
}

.link-list li:last-child
{
    padding-bottom: 0 !important;
    border-bottom: 0 !important;
}
#content li
{
    border-bottom: solid 1px #e2e6e8;
    list-style-type: none;
}
.input{width:20%;}
#footer .link-list li
{
    border-top: solid 1px #e0e4e6;
    border-bottom: solid 1px #b5bec3;
}
/*Hamburger menu*/
.hamburger {
    display: inline-block;
    cursor: pointer;
    margin:0 100% 0 10px ;

}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.topnav #myLinks {
    /*display: none;*/
    z-index: 1; !important;
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 1s ease-in;
    -moz-transition: opacity 1s ease-in;
    -ms-transition: opacity 1s ease-in;
    -o-transition: opacity 1s ease-in;
    transition: opacity 1s ease-in;

}
.topnav #myLinks.load {
    opacity: 1; !important;
}
.topnav a {
    /*color: white;*/
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
    display: block;
    background-color: #eeeeee;
}
.topnav a:hover {
    background-color: #ffffff;
    /*color: white;*/
}
/********sub page headings***********/
#content h3 a
{
    color: #96a9b5;
    text-decoration:none;
}

/* Side bar- red check mark background*/
.check-list li{
    padding: 0.7em 0 0.7em 45px;
    font-size: 1em;
    background: url('images/icon-checkmark.png') 0 1.05em no-repeat;
}

.check-list li:first-child
{
    padding-top: 0 !important;
    border-top: 0 !important;
    background-position: 0 0.3em;
}

.check-list li:last-child
{
    padding-bottom: 0 !important;
    border-bottom: 0 !important;
}

#content .check-list li
{
    border-bottom: solid 1px #e2e6e8;
}

.feature-image img
{
    display: block;

}

.feature-image
{
    display: block;
    margin: 0 0 2em 0;
    outline: 0;

}
/***************Banner Images****************/
.bordered-feature-image
{
    display: block;
    max-height:400px; !important;
    margin:auto; !important;
    border: solid 5px #b5bec3;
    box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.15);
    margin: 10px  0;
    outline: 0;


}
/*****************Flip in effect*****************/
.flipIn, h1, h2,  ul li {
    animation: flipdown 1s ease both;
}
.transition, p, ul li i:before, ul li i:after {
    transition: all 1s ease-in-out;
}


@keyframes flipdown {
    0% {
        opacity: 0;
        transform-origin: top center;
        transform: rotateX(-90deg);
    }
    5% {
        opacity: 1;
    }
    80% {
        transform: rotateX(8deg);
    }
    83% {
        transform: rotateX(6deg);
    }
    92% {
        transform: rotateX(-3deg);
    }
    100% {
        transform-origin: top center;
        transform: rotateX(0deg);
    }
}

.bordered-feature-image img
{
    display: block;
    max-width: 100%;
}
/* Index page big button and Narrow options submit button in content item display pages*/
button.css3button {
    display: block;
    margin:0 auto;
    font-size: 16px;
    color: #8f8586;
    padding: 10px 20px;
    background: -moz-linear-gradient(
            top,
            #ffffff 0%,
            #ffffff 50%,
            #d6d6d6);
    background: -webkit-gradient(
            linear, left top, left bottom,
            from(#ffffff),
            color-stop(0.50, #ffffff),
            to(#d6d6d6));
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 3px solid #8c8c8c;
    -moz-box-shadow:
            0px 1px 3px rgba(000,000,000,0.5),
            inset 0px 0px 3px rgba(255,255,255,1);
    -webkit-box-shadow:
            0px 1px 3px rgba(000,000,000,0.5),
            inset 0px 0px 3px rgba(255,255,255,1);
    box-shadow:
            0px 1px 3px rgba(000,000,000,0.5),
            inset 0px 0px 3px rgba(255,255,255,1);
    text-shadow:
            0px -1px 0px rgba(000,000,000,0.1),
            0px 1px 0px rgba(255,255,255,1);
}


.css3button:hover
{
    box-shadow: inset 0 0 0 1px rgba(255,128,128,0.65), 3px 3px 3px 1px rgba(0,0,0,0.15);

}
/*********************Wrappers***********************************/
#header-wrapper {
    /*background: #3B4346;*/
    box-shadow: inset 0 -1px 0 0 #51575a;
    width: 100%;

    /*max-height: 280px;*/
    border-bottom: solid 1px #272d30;
    padding: 0 0 20px 0;
    background-position: bottom center;
    height: fit-content;!important;

}

#banner-wrapper {

    /*box-shadow: inset 0 1px 0 0 #3e484a;*/
    padding: 35px 0 35px 0;
    color: black;
    background: #fff;
    margin: 5px auto;
    width: 100%;
    display: block;
    border-bottom: solid 2px #222628;
    min-height: max-content;
    position: relative;
    clear: both;

}
#features-wrapper {
    background: url('images/bg02.jpg');
    border-bottom: solid 1px #272e31;
    padding: 10px 0;
    width: 100%;
    margin: 10px auto;
    position: relative;
    clear: both;
}


#content-wrapper {

    clear: both;
    width: 100%;
    /*background: #f7f7f7 url('images/bg04.png');*/
    border-top: solid 1px #fff;
    padding: 45px 0 45px 0;
    z-index: 0;

}
#footer-wrapper {
    padding: 40px 15px 15px 15px;
    background: url('images/bg02.jpg');
}

/* Header */
#header {
    width: 100%;
    text-align: center;
    height: fit-content;
}

header #contact {

}

#header #contact a {
    color: #000000;
    text-decoration: none;
    font-size: 1.2em;
    position: relative;

}
#header img{
    display: block;
    margin: auto;
    padding-bottom: 10px;

}
#header h1 {
    position: relative;
    font-size: 35px;
    padding-bottom: 10px;
}

#header h1 a {
    color: #000000;
    text-decoration: none;
    padding-bottom: 20px;

}


#header nav {
    display: none;
    justify-content: center;
    position: relative;
    font-weight: 200;
    line-height: 1.75em;
}
#header nav a {

    color: #000000;
    font-size: 1.5em;
    margin: 0 auto;
    outline: 0;
}
#header nav a::first-letter {
    font-size: 125%;
    #color: #8A2BE2;
}
#header nav a:hover , #header #contact a:hover{
    color: #546b76;


}
#hoverbox {
    display: none;
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);*/
    position: absolute;
    opacity: 0.7;
    width: auto;
    background-color: #e5e5e5;
    top: 185px;
    z-index: 1;
    height: auto;

    min-width: 70px;
    padding: 0 10px;

}
#hoverbox a {
    font-size: 1em;
    color: black;
    text-decoration: none;
}

#hoverbox a:hover {
    color: #c6c8c8;
}
.clr {
    clear: both;
}
/*banner and features on index page*/


#features {
    color: #a0a8ab;

}
#features section
{height:430px;
    padding: 0 0 10px 0;
    margin: 0 0 25px 0;
    border-bottom: solid 0.5px #51575a;
    box-shadow: inset 0 -1px 0 0 #272d30;
}


#features h2 {
    font-size: 1.2em;
    color: #000;
    margin: 0 0 0.25em 0;
}

#features p {
    color: #474f51;
}

#features a {
    color: darkred;
    font-style: italic;
}
#features strong {
    color: #fff;
}
#features .sec1 {
    float: left;
    position: relative;
    width: 45%;
    margin: 1%;
    min-height:450px;

}
/*content index*/
#content{
    width:100% !important;
}
#content section {
    background: #fff;
    padding: 30px 10px 30px 10px;
    box-shadow: 2px 2px 2px 1px rgba(128, 128, 128, 0.1);
}

#content .sec2 {

    margin: 0 1% 10% 1%;
    width: 100%;

}

#content section img {
    max-width: 90%;
    display: block;
    margin: 0 auto;
}

#content section .fb-page {
    display: block;
    width: 90% !important;
    margin: 0 auto;
    padding:0 !important;
}
/************content subpages******************/

#content h2 {
    font-size: 1.1em;
    color: #373f42;
    margin: 0 0 0.25em 0;
}

#content h3 {
    color: #96a9b5;
    font-size: 1em;
}
#content header {
    margin: 0 0 2em 0;
}
#content{
    width: 100%;
    display: block;
    margin: auto;
}
#content p,#content h2,#content h3{
    /*padding:8px;*/
}
#content-wrapper #content .sidebar
{
    display: none;
}

/*Narrow options div container sidebar*/
.sidebar .filter{
    width: 100%  !important;
    height: 200px !important;
    overflow: auto;

}
#content .topbar{
    width: 100%;
    padding-bottom: 30px;
    margin-bottom: 10px;
}
#tag{
    float: left;
    cursor: pointer;
    height:20px;
    line-height: 20px;
    padding-top: 8px ;


}
.tag{padding-bottom: 0;line-height: 10px;}
/***************filter checklist disabled in mobile view. enabled on touch(does not affect desktop) ****************/
.topbar .filter{
    margin: auto; padding:0 10px;
    overflow: auto;
    width:135px !important;
    display: none;
    height: 200px !important;
    z-index: 1;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    position: absolute;
    opacity: 0.9;
    background-color: #e5e5e5;
    top:400px;


}
.topbar button{
    line-height: 16px;
    font-size: 16px;
    float: right;

}
#content .css3button{padding:5px; font-size:12px; right:50px;  }
#content .topbar .price{
    float: left;
    width: 30%;
    padding:0 10px;
    margin:1px !important;
    display: block;


}

/*Product listing grid page*/
#content-wrapper #content .main{

    width:100% ;
    margin:0 auto;
    display: block;


}
#content h2,#content h3
{
    padding-left: 8px;
}

/*item detail page*/
#content-wrapper #content .col-9
{
    width:100%;

}
.col-9 h2, .col-9 p, .col-9 a{
    padding-left: 20px;
}
.col-9 a,.col-9 p
{
    font-size: 22px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th  {
    padding: 8px 0;
}
/*Style for grid view objects*/
.itemDisplay img{
    /*display: block;*/
    margin: auto;
    height:auto;
    max-width:100%;


}
/*Opens individual item in single page providing more product details*/
.itemDisplay button{
    z-index: 2 !important;
    width: 100%;
    height: auto;
    background-color: white;
    border:0;
    cursor: pointer;

}

/*individual items styling*/
.itemDisplay div, .col-9 div{

    margin:0 0 0 0;
    border: 1px solid #96a9b5;
    max-width:100%;
    display: flex;
    justify-content: center;
    height:100px;
}

.itemDisplay p
{
    line-height: 16px;
    font-size: 14px;
    padding-left: 8px;


}
.itemDisplay p span
{

    font-weight: bold;
}

/*Narrow options Checkmarks*/

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    line-height: 20px;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 8px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/*sidebar ads*/

.sidebar img
{

    border: solid 4px #b5bec3;
}
/*Single object display*/

#content .secondaryImg {
    width: 30%;
    margin-left: 20px;
    float:left;

}
#content .largeimg, #content .singleinfo{
    float:right;
    width: 60%;

}
.secondaryImg img, .largeimg img{
    max-width: 80% !important;
    border: solid 4px #b5bec3;
    display: block;
    margin-left: 0 ;
    margin-top:20px !important;
}

#content .singleinfo input{
    border:solid 1px #b5bec3;
    border-radius: 3px;
    display: inline-block;

}
#content .singleinfo button{
    margin: 0 5px;

    display: inline-block;

}


/**********Product display grid page Adding to cart***************/
.addCart{
    padding-bottom: 30px;

}
.addCart input {
    height:24px;
    float: left;
    border: 1px solid #a2b5c1;
    border-radius: 8px;

    width: 40%;
}
.addCart button{
    width: 50%;
}
/********************shopping cart page*********/
.order th{
    width:12%;
    font-weight: bold;
    border-bottom: 1px dashed #a2b5c1;
    text-align: center;

}
.order tr{  height: 40px;  }
.order tr:last-child{
    font-weight: bold;
}
.order td{
    text-align: center;
    border-bottom: 1px dashed #96a9b5;
    font-size: 14px;
    line-height:12px;

}
.order button{
    border: 0;
    padding: 0;
    margin: 0;
}
.cartButtons{

    margin: 30px auto ;
    padding:5px;
    display: flex;
    justify-content: right;
    position: relative;

}
.cartButtons button{

    padding:4px;
    margin: 0 30px;
    line-height:14px;
    border: solid 2px;
}
.cartButtons button:last-child
{
    float: right;
}
/*******************Hover on shopping cart on header**********/

.cartpreview{
    z-index: 5;
    width: 30%;
    border: solid 1px #546b76;
    padding:5px;
    right: 10%;
    position: absolute;
    background-color: #eeeeee;
    display: none;
}
.cartpreview img{
    max-width:30px ;
    height: 40px!important;
}
.cartpreview .order th
{

}
/********login page style*************/
.login{
    float: left;

    margin: 10px;

}
.login label{  margin: 8px;}
.login input, .phEdit input, .addEdit input{

    margin: 8px;
    border: 1px solid #a2b5c1;
    border-radius: 5px;
}
.login button{
    margin: 10px;
    border:solid 4px;
    padding: 8px;
    line-height: 24px;
    font-size: 18px;
}
/*******password verification********/
/* The message box is shown when the user clicks on the password field */
#message {
    display:none;
    padding: 20px;
    margin-top: 10px;
}

#message p {
    padding: 10px 35px;
    font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
}
.floatl{
    float: left;
}
.addEdit, .phEdit
{
    display: none;
}
/************** Footer **************/
#footer {
    color: #546b76;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
    width: 100%;
    margin: auto;
}
#footer section
{
    margin: 0 0 40px 0;
}
#footer section div {

    width: 50%;
    float: left;
}
#footer section div:Last-child {

    width: 100%;

}

#footer h2 {
    font-size: 1.25em;
    color: #212f35;
    margin: 0 0 0.5em 0;
}

#footer a {
    color: #546b76;
}

#footer .link-list
{
    margin: 0 0 30px 0 !important;
}
